footer{
    background-color: var(--footer);
}

footer > p{
    margin-top: 35px;
    padding-bottom: 25px;
    color: var(--primaryColor2);
    font-family: 'Karla', serif;
    font-weight: bolder;
    font-size: 16px;
}

.LL-Footer-Row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    place-items: flex-start ;
    padding: 25px;
}

.LL-Footer-Row section > p{
    color: var(--primaryColor2);
    font-family: 'Karla', serif;
    font-weight: bolder;
    font-size: 16px;
}

.LL-Footer-Row section article p{
    color: var(--secondary3);
    font-family: 'Inter', serif;
    font-size: 16px;
}

.LL-Footer-Row section article{
margin-top: 20px;
}

.LL-Footer-Icon {
    margin: 0 0.5rem;
}

.social-svg-icon:hover{
    fill: white !important;
    transition: 1s;
}

.LL-Footer-Logo {
    margin: auto 0
}

.LL-Footer-Nav:hover, .LL-Footer-Icon:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1068px) {
    .LL-Footer-Row {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .LL-Footer-Row section {
        margin: 20px 0;
    }
}

@media only screen and (max-width: 768px) {
    .LL-Footer-Row {
        padding: 25px 5%;
    }

    .LL-Footer-Row section {
        margin: 10px 0;
        text-align: center;
    }

    .LL-Footer-Logo {
        margin: 0 auto;
    }
}


