.LL-Booking-Banner {
    position: relative;
}

.LL-Booking-Banner img {
    width: 100%;
    height: auto;
}

.LL-Booking-Banner button {
    align-self: flex-start;
    background-color: var(--primaryColor2);
    font-family: 'Karla', sans-serif;
    font-size: 23px;
    font-weight: bold;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    transition: 0.7s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 12px 24px;
    border: none;
    cursor: pointer;
}

.LL-Booking-Banner button:hover {
    background-color: var(--primaryColor1);
    color: var(--secondary3);
    cursor: pointer;
}